.product-item{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin: 1.2rem auto;
}
.add-to-cart-btn{
    height: fit-content;
}