.circle1{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    box-shadow: 0 0 50px #d84869;
    background: linear-gradient(-25deg, #d84869, #f46641);
}
.circle2{
    width: 19em;
    height: 19em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
}
/* .icon{
    margin: 0 15px;
} */
