*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    background-image: linear-gradient(196deg, #f1a9a9, #e66767);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    width: 900px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    transform: translateY(20%);
    

}
.chair-img{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center; 
    
}
.chair-img img{
    position: absolute;
    pointer-events: none;
    display: inline-block;
    width: 100%;
}
.chair-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.chair-heading{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;
}
.normal-heading{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    color: #fff;
}
.chair-price span{
    text-decoration: line-through;
}
.details-content{
    display: flex;
    gap: 2rem;
}
.bg-color-img{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
/* .bg-color-img label{
    
} */
.bg-color-img img{
    width: 100%;
    height: 100%;
}

.description-content{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
}
.chair-color{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
    display: none;
    position: absolute;
}
.chair-img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.2s;
    animation-iteration-count: 2;
  }
  
  @keyframes shake {
    0% { transform:rotateZ(0deg); }
    25% { transform:rotateZ(2deg); }
    50%{ transform:  rotateZ(0deg); }  
    75% { transform:rotateZ(-2deg); }
    100% { transform:  rotateZ(0deg); }
  }
.radio-content label{
        font-family: "Poppins", sans-serif;
        /* font-weight: 600; */
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label{
    cursor: pointer;
    transform: scale(0.3);
    border: none;
    border-radius: 5%;
    
    
  }
  .color-btn:checked + label{
    border: 2px solid black;
    transform: scale(0.4);
  }